<app-base-layout>
  <p>
    character-sheet works!
  </p>
  <app-breadcrumb></app-breadcrumb>

  <tree-root [nodes]="nodes" [options]="treeOptions" *ngIf="!content; else elseBlock">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <div class="card" style="width: 100%">
        <a [routerLink]="node.data.url" class="card-header" style="width: 100%">{{ node.data.name }}</a>
      </div>
    </ng-template>
  </tree-root>

  <ng-template #elseBlock>
    <div>{{content}}</div>
  </ng-template>
</app-base-layout>
