@import "../../../../css/default";

$select-text-transform: capitalize;
$select-text-weight: normal;
$select-font-size: $font-size-bigger;
$select-color: $lighter-black;
$label-text-color: $main-dim-gray;
$label-text-size: $font-size-smaller;
$label-text-weight: $bold;
$label-text-transform: uppercase;

.select {
  &__label {
    color: $label-text-color;
    font-size: $label-text-size;
    text-transform: $label-text-transform;
    font-weight: $label-text-weight;
  }

  &__select {
    text-transform: $select-text-transform;
    font-size: $select-font-size;
    font-weight: $select-text-weight;
    color: $select-color;
    display: inline-block;
  }
}
